<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>房型</string>
		<key>list</key>
		<array>
			<string>不限</string>
			<string>一室</string>
			<string>二室</string>
			<string>三室</string>
			<string>四室</string>
			<string>四室以上</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>面积</string>
		<key>list</key>
		<array>
			<string>不限</string>
			<string>50平米以下</string>
			<string>50-70平米</string>
			<string>70-90平米</string>
			<string>90-120平米</string>
			<string>120-150平米</string>
			<string>150-200平米</string>
			<string>200-300平米</string>
			<string>300平米以上</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>房龄</string>
		<key>list</key>
		<array>
			<string>不限</string>
			<string>2年内</string>
			<string>2-5年</string>
			<string>5-10年</string>
			<string>10年以上</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>类型</string>
		<key>list</key>
		<array>
			<string>不限</string>
			<string>公寓</string>
			<string>普通住宅</string>
			<string>别墅</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>排序</string>
		<key>list</key>
		<array>
			<string>默认排序</string>
			<string>面积从大到小</string>
			<string>面积从小到大</string>
			<string>总价从低到高</string>
			<string>总价从高到低</string>
		</array>
	</dict>
</array>
</plist>
